/* Write your CSS here */
.item-link {
  align-self: stretch;
  padding: min(2vw, 1em);
  border: 1.7px solid rgba(250, 250, 250, 0.288);
  border-right: 1.8px solid rgba(250, 250, 250, 0.603);
  border-bottom: 1.5px solid rgba(250, 250, 250, 0.432);
  border-radius: 8px;
  background-color: rgb(250, 250, 250, 0.2);
  backdrop-filter: blur(10px);
  display: grid;
}
.team-card-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: clamp(0.5em, 2vw, 1em);
  align-items: center;
}
.ipl-team-logo {
  display: grid;
  place-items: center;
}
.ipl-team-logo img {
  max-width: 100%;
  max-height: 100px;
}
.team-card-item p {
  font-weight: 700;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
